openapi: 3.0.0
servers:
  - url: 'https://opendata.resas-portal.go.jp'
security:
  - apiKey: []
info:
  title: RESAS API
  version: |-
    地域経済分析システム（RESAS:リーサス）のデータを提供するAPIです。
    ご利用にはAPIキーが必要になります。
tags:
  - name: common
    description: 共通
paths:
  /api/v1/prefectures:
    get:
      summary: 都道府県一覧
      description: 指定された都道府県に関する都道府県データを返します。
      operationId: getPrefectures
      tags:
        - common
      responses:
        200:
          $ref: "#/components/responses/getPrefecturesResponse"
  /api/v1/cities:
    get:
      summary: 市区町村一覧
      description: 指定された都道府県に関する市区町村データを返します。
      operationId: getCities
      tags:
        - common
      parameters:
        - $ref: '#/components/parameters/prefCode'
      responses:
        200:
          $ref: "#/components/responses/getCitiesResponse"
components:
  securitySchemes:
    apiKey:
      type: apiKey
      name: X-API-KEY
      in: header
  responses:
    getPrefecturesResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/getPrefecturesResponseSchema"
    getCitiesResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/getCitiesResponseSchema"
  parameters:
    prefCode:
      required: true
      $ref: '#/components/schemas/prefCode'
  schemas:
    getPrefecturesResponseSchema:
      type: object
      properties:
        messages:
          type: string
          nullable: true
        result:
          type: array
          items:
            $ref: "#/components/schemas/prefecture"
      required:
        - message
        - result
    prefecture:
      type: object
      properties:
        prefCode:
          $ref: '#/components/schemas/prefCode'
        prefName:
          type: string
          readOnly: true
          description: 都道府県名
      required:
        - "prefCode"
        - "prefName"
    getCitiesResponseSchema:
      type: object
      properties:
        messages:
          type: string
          nullable: true
        result:
          type: array
          items:
            $ref: '#/components/schemas/city'
      required:
        - messages
        - result
    city:
      type: object
      properties:
        prefCode:
          $ref: '#/components/schemas/prefCode'
        cityCode:
          type: string
          readOnly: true
        cityName:
          type: string
          readOnly: true
        bigCityFlag:
          type: string
          readOnly: true
          enum:
            - '0'
            - '1'
            - '2'
            - '3'
          description: |
            特別区・行政区フラグ
              0: 一般の市区町村
              1: 政令指定都市の区
              2: 政令指定都市の市
              3: 東京都23区
      required:
        - prefCode
        - cityCode
        - cityName
        - bigCityFlag
    prefCode:
      type: integer
      readOnly: true
      description: 都道府県コード